.soc_media{
    width: 50px;
    display: flex;flex-direction: column;
    align-items: center;
}
.soc_media div {
    margin-right: 25px;
    width: 28px;
    height: 104px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 3px;
    align-items: space-around;
    justify-content: center;
}
.soc_media div:hover{
    cursor: pointer;
}